<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../assets/myStyle.css" type="text/css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Document</title>
  </head>
  <body>
    <div class="col-sm-10 col-sm-offset-1 modContainer">
      <div class="col-sm-4 col-sm-offset-4 subContainer">
        <p class="text-center">
        <span class="modFontAwe fa fa-file-code-o"></span>
        </p>
        <p class="h2 text-center modFontText">Oooops, <br />404 NOT FOUND</p>
      </div>
    </div>
  </body>
</html>

<style>
  .modFontAwe{
    font-size:90px;
    color:rgb(180,180,180);

  }

  .subContainer{
    margin-top:60px;
  }

  .modFontText{
    color:rgb(180,180,180);
  }

  .modContainer{
    border:10px solid rgb(150,150,150);
    height:300px;
    max-height:300px;
    border-radius:50px;
    margin-top:120px;
    background-color:white;
  }
</style>
